<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="member.dao.MemberDAO">
	<select id="login" parameterType="memberVO" resultType="memberVO">
		select ID, name, TYPE
		  from T_MEMBER
		 where ID = #{id} and PASSWORD = #{password}
	</select>
	
	
	<select id="chkAccountOwnName" parameterType="string" resultType="string">
	 select name from T_MEMBER where id=#{id}
	</select>
	
	
	
	<!-- 구글otpcode 저장하기 -->
	<!-- update t_member set otpcode = #{otpcode} where id =#{id} -->
	<update id="otpCodeSave" parameterType="string">
	   update t_member set otpcode = ( select ENCRYPTION_AES.ENC_AES( #{otpcode}) from dual ) where id =#{id}
	</update>
	
	
	
	<!-- 아이디 기준으로 구글 otpcode 가져오기 -->
	<!-- select otpcode from t_member where id =#{id} -->
	<select id="getOtpCodeById" parameterType="string" resultType="string">
	   select (select ENCRYPTION_AES.DEC_AES(otpcode) from dual) from t_member where id =#{id}
	</select>
	
	<!-- 통계를 위해 일반사용자 +1 -->
	<update id="setCntPlusNormal">
	   update dummy2 set normal = normal+1 WHERE TO_CHAR(REG_DATE,'YYYYMMDD') = TO_CHAR(SYSDATE,'YYYYMMDD')
	</update>
	
	<!-- 통계를 위해 카카오로그인 +1 -->
	<update id="setCntPlusKakao">
	   update dummy2 set kakao = kakao+1 WHERE TO_CHAR(REG_DATE,'YYYYMMDD') = TO_CHAR(SYSDATE,'YYYYMMDD')
	</update>
	
	<select id="normalCntOne" resultType="int">
	   select normal from dummy2 WHERE TO_CHAR(REG_DATE,'YYYYMMDD') = TO_CHAR(SYSDATE,'YYYYMMDD')
	</select>
	
	<select id="kakaoCntOne" resultType="int">
	   select kakao from dummy2 WHERE TO_CHAR(REG_DATE,'YYYYMMDD') = TO_CHAR(SYSDATE,'YYYYMMDD')
	</select>
	
	
	
	
</mapper>